$height: 28px
$padding: 8px

.vinput
  display: flex
  padding: $padding
  align-items: center
  height: $height + $padding * 2
  width: var(--width)
  > *
    box-sizing: content-box
    font-weight: 200
    height: $height
    max-height: $height
    line-height: $height
    margin: 0 4px
    color: var(--accent)
  > .title
    min-width: 64px