.vinput
  background-color: var(--darkerColor)
  display: flex
  padding: 4px
  align-items: center
  height: 25px
  width: var(--width)
  > *
    box-sizing: content-box
    font-weight: 200
    height: 20px
    max-height: 20px
    line-height: 20px
    margin: 0 2px
    color: var(--middleColor)
  > .title
    color: var(--lightColor)
    min-width: 72px